{% extends 'base.html.twig' %}

{% block title %}Edit model{% endblock %}

{% block body %}

    <h1>Model {{ model.name }}</h1>
    {{ include('form/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('app_form_index') }}">back to list</a>
    {{ include('form/_delete_form.html.twig') }}
    <hr>
    {{ include('attribute/index.html.twig') }}
    <hr>
    {{ include('index/index.html.twig') }}
    <hr>
    {{ include('relation/index.html.twig') }}
    
{% endblock %}
