{% extends 'base.html.twig' %}

{% block title %}Textarea index{% endblock %}

{% block body %}
    <h1>Textarea index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Name</th>
                <th>Placeholder</th>
                <th>Disabled</th>
                <th>Readonly</th>
                <th>Required</th>
                <th>Cols</th>
                <th>Rowscount</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for textarea in textareas %}
            <tr>
                <td>{{ textarea.id }}</td>
                <td>{{ textarea.label }}</td>
                <td>{{ textarea.name }}</td>
                <td>{{ textarea.placeholder }}</td>
                <td>{{ textarea.disabled ? 'Yes' : 'No' }}</td>
                <td>{{ textarea.readonly ? 'Yes' : 'No' }}</td>
                <td>{{ textarea.required ? 'Yes' : 'No' }}</td>
                <td>{{ textarea.cols }}</td>
                <td>{{ textarea.rowscount }}</td>
                <td>
                    <a href="{{ path('app_textarea_show', {'id': textarea.id}) }}">show</a>
                    <a href="{{ path('app_textarea_edit', {'id': textarea.id}) }}">edit</a>
                    {{ include('textarea/_delete_form.html.twig', {'button_label': 'Delete'}) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_textarea_new') }}">Create new</a>
{% endblock %}
