{% extends 'base.html.twig' %}

{% block title %}Select index{% endblock %}

{% block body %}
    <h1>Select index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Name</th>
                <th>Disbaled</th>
                <th>Multiple</th>
                <th>Required</th>
                <th>Options</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for select in selects %}
            <tr>
                <td>{{ select.id }}</td>
                <td>{{ select.label }}</td>
                <td>{{ select.name }}</td>
                <td>{{ select.disabled ? 'Yes' : 'No' }}</td>
                <td>{{ select.multiple ? 'Yes' : 'No' }}</td>
                <td>{{ select.required ? 'Yes' : 'No' }}</td>
                <td>{{ select.options | json_encode }}</td>
                <td>
                    <a href="{{ path('app_select_show', {'id': select.id}) }}">show</a>
                    <a href="{{ path('app_select_edit', {'id': select.id}) }}">edit</a>
                    {{ include('select/_delete_form.html.twig', {'button_label': 'Delete'}) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_select_new') }}">Create new</a>
{% endblock %}
