{% extends 'base.html.twig' %}

{% block title %}Select{% endblock %}

{% block body %}
    <h1>Select</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ select.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ select.name }}</td>
            </tr>
            <tr>
                <th>Disbaled</th>
                <td>{{ select.disbaled ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Multiple</th>
                <td>{{ select.multiple ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Required</th>
                <td>{{ select.required ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_select_index') }}">back to list</a>

    <a href="{{ path('app_select_edit', {'id': select.id}) }}">edit</a>

    {{ include('select/_delete_form.html.twig') }}
{% endblock %}
