{% block form_widget_custom %}
    {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
{% endblock %}

{% block form_label_custom %}
    {{ form_label(form, null, {'label_attr': {'class': 'form-label'}}) }}
{% endblock %}

{% block choice_label %}
    {{ form_label(form, null, {'label_attr': {'class': 'ms-0'}}) }}
{% endblock %}

{% block choice_row %}
    <div class="{% if attr.class is defined %}{{ attr.class }}{% else %}col-md-12{% endif %} d-inline-block">
        <div class="input-group input-group-static mb-4 {{ errors|length > 0 ? 'is-invalid' : '' }}">
            {{ block('form_label_custom') }}
            {{ form_errors(form) }}
            {{ block('form_widget_custom') }}
            {% if help is defined and help %}
                <div class="help-block">{{ help }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block form_row %}
    <div class="{% if attr.class is defined %}{{ attr.class }}{% else %}col-md-12{% endif %} d-inline-block">
        <div class="{% if form.vars.compound %} multifields {% else %}input-group input-group-static my-3 {% endif %} {{ errors|length > 0 ? 'is-invalid' : '' }} {{ data|length > 0 ? 'is-filled' : '' }}">
            {% if form.vars.compound is empty %}
                {{ block('form_label_custom') }}
            {% endif %}
            {{ form_errors(form) }}
            {{ block('form_widget_custom') }}
            {% if help is defined and help %}
                <div class="help-block">{{ help }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block checkbox_row %}
    <div class="{% if attr.class is defined %}{{ attr.class }}{% else %}col-md-12{% endif %} d-inline-block mt-2">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" {{ data|length > 0 ? 'checked' : '' }}>
            {{ form_label(form, null, {'label_attr': {'class': 'form-check-label'}}) }}
        </div>
    </div>
{% endblock %}

{% block range_row %}
    <div class="{% if attr.class is defined %}{{ attr.class }}{% else %}col-md-12{% endif %} d-inline-block mt-2">
        {{ form_label(form, null, {'label_attr': {'class': 'form-label'}}) }}
        <input type="range" class="form-range" min="{{ form.vars.attr.min }}" max="{{ form.vars.attr.max }}" value="{{ data|length > 0 ? data : form.vars.attr.min }}" id="customRange2" oninput="this.nextElementSibling.value = this.value">
        <output>{{ data|length > 0 ? data : form.vars.attr.min }}</output>
    </div>
{% endblock %}


{% block form_widget_compound %}
    <div {{ block('widget_container_attributes') }} class="row">
        {% if form is rootform %}
            {{ form_errors(form) }}
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    </div>
{% endblock form_widget_compound %}


