{% block body %}

    <div>
    {% if indices | length > 0 %}
        <div class="nav-wrapper position-relative end-0">
            <ul class="nav nav-pills nav-fill p-1" role="tablist">
                {% for key, index in indices %}
                    <li class="nav-item">
                        <a class="nav-link mb-0 px-0 py-1 {{ key == 0 ? 'active' : '' }}" data-bs-toggle="tab" href="#view-{{ index.id }}-tabs-simple" role="tab" aria-controls="view-{{ index.id }}" aria-selected="{{ key == 0 ? 'true' : 'false' }}">
                            {{ index.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="tab-content mt-5">
            {% for key, index in indices %}
                <div class="tab-pane fade {{ key == 0 ? 'show active' : '' }}" id="view-{{ index.id }}-tabs-simple" role="tabpanel" aria-labelledby="view-{{ index.id }}-tab">
                    <div class="card my-4">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div class="bg-primary shadow-primary border-radius-lg align-items-center">
                                <h6 class="text-white text-capitalize ps-3  my-0 d-inline-block pt-3  pb-3">
                                    View {{ index.name }}
                                </h6>
                                <a class="btn btn-icon float-end text-white mt-2 me-2" href="{{ path('app_index_column_new', {'model_id': model.id,'index_id': index.id}) }}">
                                    <span class="btn-inner--icon"><i class="material-icons">add</i></span>
                                </a>
                                <a class="btn btn-icon text-white mb-1 ps-2 pe-1" href="{{ path('app_index_edit', {'form_id': model.id,'id': index.id}) }}">
                                    <span class="btn-inner--icon"><i class="material-icons">edit</i></span>
                                </a>
                                {{ include('index/_delete_form.html.twig') }}
                            </div>
                        </div>
                        <div class="card-body">
                            {{ include('index_column/index.html.twig') }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        {{ include('commons/no_records_found.html.twig') }}
    {% endif %}
    </div>

{% endblock %}


