{% extends 'base.html.twig' %}

{% block title %}Input index{% endblock %}

{% block body %}
    <h1>Input index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Name</th>
                <th>Checked</th>
                <th>Disabled</th>
                <th>Placeholder</th>
                <th>Readonly</th>
                <th>Required</th>
                <th>Type</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for input in inputs %}
            <tr>
                <td>{{ input.id }}</td>
                <td>{{ input.label }}</td>
                <td>{{ input.name }}</td>
                <td>{{ input.checked ? 'Yes' : 'No' }}</td>
                <td>{{ input.disabled ? 'Yes' : 'No' }}</td>
                <td>{{ input.placeholder }}</td>
                <td>{{ input.readonly ? 'Yes' : 'No' }}</td>
                <td>{{ input.required ? 'Yes' : 'No' }}</td>
                <td>{{ input.type }}</td>
                <td>{{ input.value }}</td>
                <td>
                    <a href="{{ path('app_input_show', {'id': input.id}) }}">show</a>
                    <a href="{{ path('app_input_edit', {'id': input.id}) }}">edit</a>
                    {{ include('input/_delete_form.html.twig', {'button_label': 'Delete'}) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_input_new') }}">Create new</a>
{% endblock %}
