{% extends 'base.html.twig' %}

{% block title %}Input{% endblock %}

{% block body %}
    <h1>Input</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ input.id }}</td>
            </tr>
            <tr>
                <th>Checked</th>
                <td>{{ input.checked ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Disabled</th>
                <td>{{ input.disabled ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ input.name }}</td>
            </tr>
            <tr>
                <th>Placeholder</th>
                <td>{{ input.placeholder }}</td>
            </tr>
            <tr>
                <th>Readonly</th>
                <td>{{ input.readonly ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Required</th>
                <td>{{ input.required ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ input.type }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ input.value }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_input_index') }}">back to list</a>

    <a href="{{ path('app_input_edit', {'id': input.id}) }}">edit</a>

    {{ include('input/_delete_form.html.twig') }}
{% endblock %}
