{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Disabled</th>
                <th>Selected</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for option in options %}
            <tr>
                <td>{{ option.id }}</td>
                <td>{{ option.text }}</td>
                <td>{{ option.disabled ? 'Yes' : 'No' }}</td>
                <td>{{ option.selected ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_option_edit', {'id': option.id, 'attribute_id':attribute.id}) }}">edit</a>
                    {{ include('option/_delete_form.html.twig', {'button_label': 'Delete'}) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_option_new', {'attribute_id':attribute.id} ) }}">Create new</a>
{% endblock %}
