{% extends 'base.html.twig' %}

{% block title %}{{ view.name }}{% endblock %}

{% block body %}
    <h1>{{ view.name }}</h1>

    <table class="table">
        <thead>
            <tr>
            {% for col in view.indexColumns %}
                <th>{{col.field.label}}</th>
            {% endfor %}
                <th>actions</th>
            </tr>            
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {% for col in view.indexColumns %}
                    <td>
                        {{ entity.getEntityMeta(col.field.name) is not empty ? entity.getEntityMeta(col.field.name).getValue() : '' }}
                    </td>
                {% endfor %}
                <td>
                    <a href="{{ path('app_entity_edit', {'id': entity.id, 'form_id':model.id, 'view_id':view.id}) }}">edit</a>
                    {{ include('entity/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_entity_new', {'id':model.id, 'view_id': view.id}) }}">Create new</a>
{% endblock %}
