<h1>{{ view.name }} ({{total}})</h1>

<h3>Filters</h3>
{{ form_start(filterForm) }}
    {{ form_widget(filterForm) }}
    <button class="btn">{{ button_label|default('Filter') }}</button>
{{ form_end(filterForm) }}
{{ form_start(resetForm) }}
    {{ form_widget(resetForm) }}
    <button class="btn">{{ button_label|default('Reset') }}</button>
{{ form_end(resetForm) }}
<hr>
<table class="table">
    <thead>
        <tr>
            {% for col in view.indexColumns %}

                <th>

                    <a href="?order={{ col.field.name }}&direction={{ order.direction == 'ASC' ? 'DESC' : 'ASC' }}">

                        {% if order.order == col.field.name  %}
                            {% if order.direction == 'ASC' %}
                                <i>(A -> Z)</i>
                            {% elseif order.direction == 'DESC' %}
                                <i>(Z -> A)</i>
                            {% endif %}
                        {% endif %}

                        {{ col.name is not empty ? col.name : col.field.label }}
                    </a>
                
                </th>



            {% endfor %}
            <th>actions</th>
        </tr>            
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            {% for col in view.indexColumns %}
                <td>    
                    {% if col.field.form.id == view.model.id  %}

                        {% if entity.getEntityMeta(col.field.name) is not empty %}
                            {% if col.field.type == 'select' and (col.field.selectEntity == 'option' or col.field.selectEntity is empty) %} 

                                {% set value = entity.getEntityMeta(col.field.name).value %}
                                {{ col.field.options|filter(option => option.id == value)|join(', ') }}

                            {% elseif col.field.type == 'select' %}

                                {% set modelID = col.field.selectEntity %}
                                {% set pattern = patterns[modelID] %}
                                {% set entityID = entity.getEntityMeta(col.field.name).value %}
                                {% set externalEntity = externalEntities[modelID]|filter(entity => entity.id == entityID)|first %}

                                {% for field in externalEntity.getEntityMetas() %}
                                    {% set pattern = pattern|replace({ (field.name): field.value }) %}
                                {% endfor %}
                                
                                {{ pattern }}

                            {% else %}

                                {{ entity.getEntityMeta(col.field.name).value }}

                            {% endif %}
                        {% endif %}

                    {% else %}

                        {% set modelID = col.field.form.id %}
                        {% set relationalField = view.model.attributes|filter(attribute => attribute.selectEntity == modelID)|first %}

                        {% if entity.getEntityMeta(relationalField.name) is not empty %}

                            {% set foreignKey = entity.getEntityMeta(relationalField.name).value %}
                            {% set externalEntity = externalEntities[modelID]|filter(entity => entity.id == foreignKey)|first %}
                            {% set value = externalEntity and externalEntity.getEntityMeta(col.field.name) is not empty ? externalEntity.getEntityMeta(col.field.name).value : '' %}
                            
                            {% if value is not empty %}
                                {% if col.field.type == 'select' and (col.field.selectEntity == 'option' or col.field.selectEntity is empty) %} 

                                    {{ col.field.options|filter(option => option.id == value)|join(', ') }}

                                {% elseif col.field.type == 'select' %}

                                    {% set modelID = col.field.selectEntity %}
                                    {% set pattern = patterns[modelID] %}
                                    {% set externalEntity = externalEntities[modelID]|filter(entity => entity.id == value)|first %}

                                    {% for field in externalEntity.getEntityMetas() %}
                                        {% set pattern = pattern|replace({ (field.name): field.value }) %}
                                    {% endfor %}
                                    
                                    {{ pattern }}

                                {% else %}

                                    {{ value }}

                                {% endif %}
                            {% endif %}
                        {% endif %}

                    {% endif %}
                </td>
            {% endfor %}
            <td>
                <a href="{{ path('app_entity_edit', {'id': entity.id, 'form_id':model.id, 'view_id':view.id}) }}">edit</a>
                {{ include('entity/_delete_form.html.twig') }}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if pages is not empty and pages > 1 %}
<ul>
    {% for page in range(1, pages) %}
        <li><a href="?page={{ page }}">{{ page }}</a></li>
    {% endfor %}
</ul>
{% endif %}
<a href="{{ path('app_entity_new', {'id':model.id, 'view_id': view.id}) }}">Create new</a>