{% block body %}
<div class="table-responsive p-0">
    <table class="table align-items-center justify-content-center mb-0">
        <thead>
            <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Position</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Attribute</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">actions</th>
            </tr>
        </thead>
        <tbody>
            {% for index_column in index.indexColumns %}
            <tr>
                <td class="align-middle">
                    <span class="text-secondary text-xs font-weight-normal ps-3">
                        {{ index_column.position }}
                    </span>
                </td>
                <td class="align-middle">
                    <span class="text-secondary text-xs font-weight-normal ps-3">
                        {{ index_column.name is not empty ? index_column.name : index_column.field  }}
                    </span>
                </td>
                <td class="align-middle">
                    <span class="text-secondary text-xs font-weight-normal ps-3">
                        {{ index_column.field }}
                    </span>
                </td>
                <td class="align-middle text-center">
                    <a class="text-secondary font-weight-normal text-xs btn w-20 p-0 m-0" data-toggle="tooltip" data-original-title="Edit" href="{{ path('app_index_column_edit', {'id': index_column.id, 'model_id': model.id,'index_id': index.id}) }}">
                        <i class="material-icons opacity-10">edit</i>
                    </a>
                    {{ include('index_column/_delete_form.html.twig', {'button_label': 'Delete'}) }}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">
                    {{ include('commons/no_records_found.html.twig') }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}