{% extends 'base.html.twig' %}

{% block title %}IndexColumn{% endblock %}

{% block body %}
    <h1>IndexColumn</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ index_column.id }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ index_column.position }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_index_column_index') }}">back to list</a>

    <a href="{{ path('app_index_column_edit', {'id': index_column.id}) }}">edit</a>

    {{ include('index_column/_delete_form.html.twig') }}
{% endblock %}
